__pycache__/*
logs/*
ChromeDriver101/*
ChromeDriver/*

*.xml
restaurant_names*

/.idea/GoogleReviews.iml
/.idea/GoogleReviews.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
